body, html, p {
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px;
}
a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 20px;
}
a:hover {
	color: yellow;
}
p {
	margin-top: 40px;
}