@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/OpenSans/OpenSansSemibold_1.eot');
  src: url('../fonts/OpenSans/OpenSansSemibold_1.eot') format('embedded-opentype'), url('../fonts/OpenSans/OpenSansSemibold_1.woff2') format('woff2'), url('../fonts/OpenSans/OpenSansSemibold_1.woff') format('woff'), url('../fonts/OpenSans/OpenSansSemibold_1.ttf') format('truetype'), url('../fonts/OpenSans/OpenSansSemibold_1.svg#OpenSansSemibold_1') format('svg');
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans/OpenSansRegular_2.eot');
  src: url('../fonts/OpenSans/OpenSansRegular_2.eot') format('embedded-opentype'), url('../fonts/OpenSans/OpenSansRegular_2.woff2') format('woff2'), url('../fonts/OpenSans/OpenSansRegular_2.woff') format('woff'), url('../fonts/OpenSans/OpenSansRegular_2.ttf') format('truetype'), url('../fonts/OpenSans/OpenSansRegular_2.svg#OpenSansRegular_2') format('svg');
}
.opn-reg {
  font-family: 'OpenSansRegular', sans-serif;
}
.opn-bold {
  font-family: 'OpenSansSemibold', sans-serif;
}
body {
  font-size: 14px;
  font-family: 'OpenSansRegular', sans-serif;
  color: #626262;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
header {
  background-color: #f5f5f5;
  min-height: 600px;
  height: 100vh;
}
.logo_header {
  margin-top: 5%;
}
.main_logo_border {
  height: 55px;
  width: 155px;
  border: 3px solid #706b73;
  line-height: 46px;
  text-align: center;
}
.main_logo p {
  font-family: 'OpenSansSemibold', sans-serif;
  font-size: 35px;
  color: #706b73;
}
.main_logo p span {
  color: #fc876d;
}
.main_link_bar {
  float: right;
  width: 30px;
  height: 55px;
  text-align: center;
}
.main_text {
  margin-top: 3%;
  text-align: center;
}
.main_text h1 {
  font-size: 50px;
  font-family: 'OpenSansSemibold', sans-serif;
}
.main_text h1 span {
  color: #fc7254;
}
.main_text p {
  padding-left: 20px;
  padding-right: 20px;
}
.main_form {
  margin-top: 10%;
  padding: 35px;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.main_form_header {
  background-color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-family: 'OpenSansRegular', sans-serif;
}
.main_form_header span {
  color: #fc7254;
}
.main_form input,
.main_form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #706b73;
  margin-top: 30px;
  font-size: 15px;
}
.main_form_btn {
  background-color: #fc7254;
  border: none;
  font-size: 16px;
  color: #ffffff;
  padding: 15px 35px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.burger_button,
.burger_button::before,
.burger_button::after {
  width: 30px;
  height: 4px;
  background-color: #706b73;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.burger_button {
  display: block;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}
.burger_button::before {
  position: absolute;
  content: '';
  -webkit-transform: translateY(98px);
  -ms-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  transform: translateY(-9px);
}
.burger_button::after {
  position: absolute;
  content: '';
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
}
